<div>
  <a
    class="btn btn-success m-3"
    [routerLink]="['/user/new']"
    style="float: right"
    >Add User</a
  >
  <table
    class="table table-bordered table-hover table-responsive table-striped"
  >
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Company</th>
    </thead>
    <tr *ngFor="let item of data">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.username }}</td>
      <td>{{ item.email }}</td>
      <td>
        {{ item.address.street }}, {{ item.address.city }},
        {{ item.address.city }}, {{ item.address.zipcode }}
      </td>
      <td>{{ item.phone }}</td>
      <td>{{ item.website }}</td>
      <td>{{ item.company }}</td>
      <td>
        <a class="btn btn-light px-2" routerLink="/user/{{ item.id }}"
          ><i class="fa fa-pencil" aria-hidden="true"></i
        ></a>
      </td>
      <td>
        <button class="btn btn-danger px-2 p-0" (click)="delete(item.id)">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
